<!-- header -->
<div class="container-fliud logo-row">
    <div class="container">
        <div class="row">
            <div class="sesync-logo-block col-md-5">
                <div class="logo-img">
                    <img alt="SESYNC" src="images/logo.png">
                </div>
            </div>
            <div class="col-md-7"><div class="page-header">
                    <h1>{{ site.title }}<small> {{ site.subtitle }}</small></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->

